---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { sortMDByDate } from "@/utils";
import type { Post } from "@/data/posts";

const MAX_POSTS = 10;
const unfilteredPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPosts = unfilteredPosts.filter((post) => !post.frontmatter.draft);
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6 text-3xl">Hello Folks~</h1>
		<p class="mb-4">
			Welcome to the personal blog of a fruity rat by the name of Jaylo.
			This is my corner of the Internet to share my musings and save my Discord friends from my ramblings.
			I won't tell you to enjoy your stay, but I do hope you find something 
		</p>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-2xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<PostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
